@import url('fonts.css');

/* --------------------------- CSS Reset --------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------------- Variables --------------------------- */
:root{
    --font-grey: #3f4954;
    --font-light: rgba(104, 102, 102, 0.855);
    --black: black;
    --dark-color1: #0F0F0F;
    --dark-color2: #104F55;
    --gradient: linear-gradient(120deg, #a1c4fd, #c2e9fb);

}