@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500&family=Libre+Caslon+Text:wght@400;700&display=swap');

/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Libre Caslon Text', serif;
*/


/* --------------------------------- CSS Reset --------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------------------- Variables --------------------------------- */
:root{
    --title-fonts: 'Libre Caslon Text', serif;
    --normal-fonts: 'IBM Plex Sans', sans-serif;
    --black: #1C0C5B;
    --white: #99DBF5;
    --light-color1: #00A8CC;
    --dark-color1: #0E548E;
}

/* --------------------------------- Global Styling --------------------------------- */
body{
    background-color: var(--white);
    font-family: var(--normal-fonts);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}


/* --------------------------------- Navbar --------------------------------- */

nav{
    background-color: var(--black);
    height: 5rem;
    overflow: hidden;
    transition: 0.3s;
}
.show-nav{
    height: 15rem;
}

.nav-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 5rem;
    font-size: 2rem;
    color: var(--white);
}
.nav-logo{
    height: 4rem;
}

.nav-lower{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    
}
.nav-lower li{
    padding: 1.5rem 0;
}
.nav-links{
    color: var(--white);
    font-size: 1.2rem;
    position: relative;
}

.nav-login-link{
    border-bottom: 1px solid var(--white);
}

/* --------------------------------- Disappearing Borders --------------------------------- */
.nav-border{
    position: absolute;
    background-color: var(--light-color1);
    transition: 0.2s;
}
.left-border{
    height: 0;
    width: 2.3px;
    top: 0;
    left: 0;
}
.nav-links:hover .left-border{
    height: 100%;
}
.top-border{
    height: 1.5px;
    width: 0;
    top: 0;
    left: 0;
}
.nav-links:hover .top-border{
    width: 100%;
}
.bottom-border{
    height: 1.5px;
    width: 0;
    bottom: 0;
    right: 0;
}
.nav-links:hover .bottom-border{
    width: 100%;
}
.right-border{
    height: 0;
    width: 2.3px;
    bottom: 0;
    right: 0;
}
.nav-links:hover .right-border{
    height: 100%;
}

/* --------------------------------- Form --------------------------------- */
.form-container{
    background-color: var(--dark-color1);
    margin: 3rem auto;
    width: 95%;
    max-width: 400px;
    border-radius: 10px;
    padding: 1.8rem 0.5rem 0.5rem;
    color: var(--white);
}
.login-signup-form{
    border: solid var(--white);
    border-radius: 10px;
    padding: 1.8rem 1rem 1rem;
    position: relative;
}
.form-title{
    font-family: var(--title-fonts);
    font-size: 1.5rem;
    letter-spacing: 1px;
    position: absolute;
    top: 0;
    left: 6px;
    transform: translateY(-55%);
    background-color: var(--dark-color1);
}
.input-box{
    position: relative;
    margin-bottom: 1rem;
}
.form-input{
    width: 100%;
    height: 2.8rem;
    border: none;
    outline: none;
    background-color: var(--dark-color1);
    border-bottom: 1px solid var(--white);
    padding-left: 10px;
    font-size: 1.2rem;
    color: var(--white);
}
.form-input:focus, .form-input:valid{
    border: 1px solid var(--white);
    border-radius: 5px;
}
.input-label{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--dark-color1);
    transition: 0.3s;
}
.lock-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.form-input:focus + .input-label, .form-input:valid + .input-label{
    top: 0;
    left: 5px;
    font-size: 0.9rem;
}
.remember-forget-pwd-box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.forget-password-link, .create-ac-login-link{
    color: var(--white);
    text-decoration: underline;
}
.forget-password-link:hover, .create-ac-login-link:hover{
    color: var(--light-color1);
}
.submit-box{
    text-align: center;
    margin: 1rem 0;
}
.submit-box input{
    height: 2.5rem;
    width: 50%;
    border: none;
    background-color: var(--white);
    border: solid var(--white) 1px;
    border-radius: 10px;
    color: var(--black);
    font-size: 1.3rem;
}
.submit-box input:hover{
    background-color: var(--dark-color1);
    color: var(--white);
}




/* --------------------------------- Midea Queries --------------------------------- */
@media (min-width: 350px){
    .remember-forget-pwd-box{
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 750px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bar-icon{
        display: none;
    }
    .nav-lower{
        flex-direction: row;
        gap: 1rem;
    }
    .nav-lower li{
        padding: 0;
    }
    .nav-login-link{
        border-bottom: none;
    }
    .nav-links{
        padding: 0 1rem 5px;
    }
}